* {
    box-sizing: border-box;
}

$maxWidth: 1360;

@mixin adaptiv-font($pcSize, $mobSize) {
    $addSize: $pcSize - $mobSize;
    $maxWidth: $maxWidth - 320;
    font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}

.title {
    font-family: PlayfairDisplay;
    @include adaptiv-font(40, 20);
    line-height: 1.2;
    font-weight: 700;
    letter-spacing: 0.01em;
    color: #00203a;
}


img {
    width: 100%;
}

a,
ul,
li,
h1,
h2,
h3,
h4,
p,
span {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
}

a {
    color: #252525;
}


.btn {
    padding: 30px 30px 30px 20px;
    border: none;
    box-shadow: 4px 8px 21px 8px rgba(0, 1, 5, 0.05);
    background-color: #f8a25a;
    font-family: Raleway;
    font-size: 14.5px;
    line-height: 1.2;
    font-weight: 800;
    letter-spacing: 0.1em;
    color: #ffffff;
    @include adaptiv-font(16, 12);
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Raleway', sans-serif;
    @include adaptiv-font(16, 12);
}


.wrapper {
    background-color: #f7ebe2;
    overflow: hidden;
}

.container {
    max-width: 1203px;
    margin: 0 auto;
    padding: 0px 20px 0px 20px;
}


.header {
    position: relative;
    z-index: 2;

    &__body {
        padding-top: 22px;
        padding-bottom: 33px;
        display: flex;
        align-items: center;

    }

    &__btn {
        flex-basis: 50%;
    }

    &__contact {
        flex-basis: 50%;
        text-align: end;

        &-link {
            padding-left: 25px;
            background-image: url('../img/phone.png');
            background-repeat: no-repeat;
            background-size: contain;
            background-position: left;

        }

    }

    &__logo {
        flex-basis: 95px;
        text-align: center;

    }

}


.menu {
    &__list {
        display: none;

        &-active {
            padding-bottom: 100px;
            padding-top: 139px;
            position: absolute;
            top: 88px;
            z-index: 1;
            left: 50%;
            transform: translate(-50%);
            background-color: #112537;
            display: block;
            width: 100%;
            text-align: center;
        }

    }

    &__link {
        margin-bottom: 39px;

        a {
            color: #ffffff;
            opacity: 0.6;

            &:hover {
                color: #fea052;
            }
        }
    }


}

.info {
    height: 100vh;

    &__price {
        position: relative;
        z-index: 2;
        padding-top: 174px;
        padding-bottom: 174px;
        flex: 0 0 360px;
        margin-left: 80px;

    }

    &__social {
        position: relative;
        z-index: 2;
        display: flex;
        align-items: center;

        img {
            opacity: 0.6;
            max-width: 100%;
            max-height: 100%;
        }

        &-item {
            margin-right: 30px;
        }
    }

    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        background-color: #112537;
        opacity: 0.9;
        height: 100%;
        height: 100vh;
        width: 49%;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__title {
        font-family: PlayfairDisplay;
        @include adaptiv-font(60, 24);
        line-height: 59px;
        font-weight: 700;
        letter-spacing: 0.025em;
        color: #ffffff;
        margin-bottom: 24px;
    }

    &__subtitle {
        font-family: Muller;
        @include adaptiv-font(14, 8);
        line-height: 20px;
        font-weight: 300;
        letter-spacing: 0.05em;
        color: #ffffff;
        margin-bottom: 34px;
    }

    &__row {
        margin-top: 43px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__dots {
        display: flex;

        &-item--active {
            margin-left: 7px;
            width: 26px;
            height: 3px;
            background-color: #1a444a;
        }

        &-item {
            margin-left: 7px;
            width: 26px;
            height: 3px;
            opacity: 0.21;
            background-color: #1a444a;
        }
    }
}

.slider {
    &__item {
        background-image: url('../img/slide-info.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
    }
}

.main {
    &__slide {
        padding-bottom: 20px;
    }

    &-social {
        padding-top: 10px;
        padding-bottom: 10px;
        align-self: center;
        display: flex;
    }

    &__content {
        display: flex;
        padding-top: 170px;
        padding-bottom: 123px;
        background-image: url(../img/image_item.jpg);
        background-size: cover;

    }

    &-text {
        margin-left: 50px;
        max-width: 364px;




    }
}



.features {
        padding-top: 131px;
        padding-bottom: 63px;
        
    &__wrap {
        display: flex;
        height: 460px;
        justify-content: space-around;
        flex-wrap: wrap;
        
    }

    &__item {
        flex: 0 1 240px
    }

    &__item:nth-child(even) {
        align-self: flex-end;
    }

    &__title {
        @include adaptiv-font(22, 12);
        line-height: 1.2;
        font-weight: 600;
        color: #1a292f;
    }

    &__description {
        @include adaptiv-font(16, 8);
        line-height: 25px;
        font-weight: 300;
        color: #838383;
    }

    .feateres__counter span {
        opacity: 0.25;
        font-family: PlayfairDisplay;
        @include adaptiv-font(55, 40);
        line-height: 1.2;
        font-weight: 700;
        letter-spacing: 0.01em;
        color: #fea052;
    }
}

.slider-portfolio{
    &__container{
        display: flex;
    }
}
.portfolio {
    padding-top: 65px;
    &-menu {
        display: flex;
        margin-bottom: 15px;
    }

    &__item {
        margin-left: 15px;
    }
}

.portfolio-slider__wrapper {
    display: flex;
    width: 100%;
    height: 100%;
}

.portfolio-slider__container {
    padding: 20px 0;
    overflow: hidden;
    width: 100%;
}

.portfolio-wrap {
    padding-bottom: 130px;
}


.portfolio-slide {

    transition: 0.5s;
    flex-shrink: 0;
    background-position: center;
    background-size: cover;

    &__active {
        transform: scale(1.2);
        transition: 0.5s;

    }
}

.services {
    padding-bottom: 70px;

    // .services__wrap

    &__wrap {}

    // .services__title

    &__title {
        margin-bottom: 70px;
    }

    // .services__content

    &__content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}



.item {
    &__counter {
        width: 20px;
        height: 20px;
        background-color: #fde5d1;
    }

    // .item__title

    &__title {
        position: relative;
        padding-bottom: 14px;
        @include adaptiv-font(22, 12);
        line-height: 17px;
        font-weight: 600;
        color: #313131;

    }

    // .item__description

    &__description {
        margin-top: 23px;
    }
}

.services-item {
    flex: 0 0 325px;
    margin-bottom: 64px;
    @include adaptiv-font(16, 10);
    line-height: 25px;
    font-weight: 300;
    color: #5e5e5e;

}

.item__title:after {
    content: "";
    height: 1px;
    width: 41px;
    background-color: black;
    position: absolute;
    bottom: 0;
    left: 0;
}

.support {

    // .support__wrap

    &__wrap {
        display: flex;
        padding-top: 80px;
        padding-bottom: 140px;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    // .support__list

    &__list {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-between;
    }

    // .support__item

    &__item {
        list-style: none;

        :hover {
            transition: 0.5s;
            margin-left: 20px;
            font-weight: 800;
        }
    }



    // .support__content

    &__content {
        flex: 0 0 70%;
    }

    // .support__image

    &__image {
        margin-bottom: 60px;
    }

    // .support__info

    &__info {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    // .support__text

    &__text {
        flex: 0 0 480px;
    }

    // .support__text-title

    &__text-title {
        margin-bottom: 20px;
    }


    // .support__goup

    &__goup {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

    }
}

.form {
    color: #ffffff;
    background-color: #182c3d;
    overflow: hidden;

    // .form__content

    &__content {
        flex: 0 0 100%;
    }

    // .form__container

    &__container {
        max-width: 1203px;
        margin: 0 auto;
        padding: 0px 20px 0px 20px;

    }

    // .form__body

    &__body {
        padding-top: 77px;
        padding-right: 95px;
        width: 50%;
        display: flex;
        flex-direction: column;
    }

    // .form__title

    &__title {
        @include adaptiv-font(22, 12);
    }

    // .form__description

    &__description {
        opacity: 0.7;
        @include adaptiv-font(22, 12);
        line-height: 24px;
        font-weight: 400;
        letter-spacing: 0.05em;
        color: #ffffff;
        margin-bottom: 30px;
    }

    // .form__input

    &__input {
        margin-bottom: 46px;
        padding: 10px 5px;
        border: none;
        background-color: #182c3d;
        border-bottom: 1px solid #ffffff;
        background-position: center right;
        background-repeat: no-repeat;
        opacity: 0.6;
        color: #ffffff;
    }


    // .form__image

    &__image {
        img {
            width: 100%;
        }
    }
}

.form-top {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.btn-oul {
    background-color: #182c3d;
    padding: 25px 5px;
    @include adaptiv-font(15, 12);
    line-height: 16px;
    font-weight: 800;
    color: #ffffff;
    box-shadow: 0px 0px 49px 19px rgba(0, 0, 0, 0.01);
    border: 2.0px solid #ffffff;
    border-radius: 5.0px;
    margin-bottom: 22px;
}

.footer {
    background-color: #182c3d;

    // .footer__wrap

    &__wrap {
        align-items: flex-end;
        position: relative;
        padding: 77px 0px;
        display: flex;
        justify-content: space-between;
    }

    // .footer__copiryght

    &__copiryght {
        color: #ffc487;
    }


    // .footer__social

    &__social {
        position: absolute;
        top: 70%;
        left: 48%;
        transform: translate(-50%);
    }

    // .footer__link

    &__link {
        margin-left: 28px;
        color: #ffffff;

    }
}

.slider-main__container {
    overflow: hidden;
    width: 100%;
}

.slider-wrapper {
    display: flex;
    width: 100%;
    height: 100%;
}

.slider__slide {
    flex-shrink: 0;
}


@media (min-width: 767px) {

    .form {
        display: flex;

        &__image {
            flex: 0 0 50%;
            transform: translate(-100%, 0px);
        }
    }
}

@media (max-width: 620px) {
    .main {
        &__content {
            padding-bottom: 50px;
            padding-top: 50px;
        }

        &-text {
            margin-left: 20px;
        }
    }

    .portfolio {
        &-wrap {
            padding-bottom: 60px;
        }
    }

    .support {
        &__item {
            margin-bottom: 40px;
        }

        &__wrap {
            padding-top: 40px;
        }

        &__link {
            color: #7d7d7d;

            &:active {
                font-weight: 600;
                color: #00203a;
            }
        }
    }

    .services {
        padding-bottom: 40px;

        &-item {
            flex: 0 0 280px;
            margin-bottom: 40px;

            &:last-child {
                margin-bottom: 0px;
            }
        }

        &__content {
            margin: 0px 10px;
        }

    }

    // .item__description{
    //     max-width: 280px;
    // }

}



















/// меню бургер ///

#menuToggle {
    overflow: hidden;
    display: flex;
    flex-direction: column;

}

#menuToggle input {
    display: flex;
    width: 60px;
    height: 60px;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    /* hide input */
    z-index: 1;
    /* top of the menu */
}

#menuToggle span {
    width: 25px;
    height: 4px;
    margin-bottom: 5px;
    background: #7f8fa6;
    border-radius: 2px;
    transition: all .5s cubic-bezier(.08, .81, .87, .71);
}

#span1 {
    transform-origin: 4px 0px;
}

#span3 {
    transform-origin: bottom right;
}

#menuToggle input:checked~#span1 {
    background-color: #0c2461;
    transform: rotate(45deg) translate(5px);
}

#menuToggle input:checked~#span2 {
    background-color: #0c2461;
    transform: rotate(495deg) translate(1px);
}

#menuToggle input:checked~#span3 {
    background-color: #0c2461;
    transform: rotate(45deg);
    opacity: 0;
}