$maxWidth: 1360;

@mixin adaptiv-font($pcSize, $mobSize) {
    $addSize: $pcSize - $mobSize;
    $maxWidth: $maxWidth - 320;
    font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-family: 'Raleway', sans-serif;
  @include adaptiv-font(16, 12);
}

* {
  box-sizing: border-box;
}
img {
  width: 100%;
}

a,
ul,
li,
h1,
h2,
h3,
h4,
h5,
p,
span {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  list-style: none;
}


// title //
.title {
  font-family: PlayfairDisplay;
  @include adaptiv-font(40, 20);
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.01em;
  color: #00203a;
}
// button // 
.btn {
  padding: 30px 30px 30px 20px;
  border: none;
  box-shadow: 4px 8px 21px 8px rgba(0, 1, 5, 0.05);
  background-color: #f8a25a;
  font-family: Raleway;
  font-size: 14.5px;
  line-height: 1.2;
  font-weight: 800;
  letter-spacing: 0.1em;
  color: #ffffff;
  @include adaptiv-font(16, 12);
}

.btn-oul {
  background-color: #f7eae2;
  padding: 25px 40px;
  @include adaptiv-font(15, 12);
  line-height: 16px;
  font-weight: 800;
  color: #112537;
  border: 2.0px solid #112537;
  border-radius: 5.0px;
  cursor: pointer;

  &:hover {
      box-shadow: 49px 0px 49px 19px rgba(0, 0, 0, 0.01);
  }
}

// info-slider // 

.slider {
  &__item {
      // background-image: url('../img/slide-info.jpg');
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      display: flex;
      align-items: center;
  }

  &-portfolio {
      &__container {
          display: flex;
      }
  }
}

// services-item // 

.item {

  &__title {
      position: relative;
      padding-bottom: 14px;
      @include adaptiv-font(22, 12);
      line-height: 17px;
      font-weight: 600;
      color: #313131;
      margin-bottom: 38px;

      span {
          position: absolute;
          left: -83px;
          top: 0;
          font-size: 14px;
          line-height: 42px;
          font-weight: 500;
          color: #00203a;
          font-family: Raleway;


      }

      &:before {
          position: absolute;
          display: inline-block;
          content: '';
          width: 41px;
          height: 1px;
          background-color: #182c3d;
          bottom: 0;
          left: 0;
      }
  }

  &__description {
      margin-top: 23px;
  }
}

// setings slider // 

.slider{
  overflow: hidden;
  width: 100%;
}

.slider-container {
  display: flex;
  width: 100%;
  height: 100%;
}

.slides{
  flex-shrink: 0;
}

.swiper-pagination {
  position: unset;

  &-bullet {
      border-radius: 0;
      margin-left: 7px;
      width: 26px;
      height: 3px;
      opacity: 0.21;
      background-color: #1a444a;
      

      &-active {
          border-radius: 0;
          margin-left: 7px;
          opacity: 1;
          width: 26px;
          height: 3px;
          background-color: #1a444a;

      }
  }

}

.menu-portfolio{
 
    display: flex;
    margin-bottom: 15px;

}
.menu__item {
  margin-left: 15px;
}
.menu__link {
  color: black;
}